.footer{
    background-color: #181818;
    color: #8a8a8a;
    padding: 60px 0px 20px;
    
}
.footer-col-3 ul li{
list-style: none;
}
.footer-col-4 ul li{
    list-style: none;
    }
    .footer-col-3 ul li a{
        text-decoration: none;
        color: #8a8a8a;
    }
    .footer-col-4 ul li a{
        text-decoration: none;
        color: #8a8a8a;
    }
    .footer p{
        color: #8a8a8a;
    }
    .footer h3{
        color: #fff;
        margin-bottom: 20px;
    }
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
        min-width: 200px;
        margin-bottom: 20px;
    }
    .footer-col-1{
        flex-basis: 25%;
    }
    .footer-col-2{
        flex: 1;
        text-align: center;
    }
    .footer-col-2 img{
        width: 180px;
        margin-bottom: 20px;
    }
    .footer-col-3, .footer-col-4{
        flex-basis: 20%;
        text-align: center;
    }
    .app-logo img{
        width: 140px;
        padding-top: 10px;
    }
    .copyright{
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
    }
    .footer hr{
        border: none;
        background: #b5b5b5;
        height: 1px;
        margin: 20px 0px;
    }
    .row{
        display: flex;
    flex-direction: row;
    }
    .pic-footer{
        width: 150px;
        height: 150px;
        left: 4rem;
        position: relative;
    }
    .footer-col-4{
        display: flex;
        flex-direction: column;
    }