.main-home{
    margin: 6px;
    display: flex;
    display: flex;
    flex-direction: row;
    position: fixed;
    background: #fff;
    top: 0;
    padding: 0px;
    width: 100%;
          margin-bottom: 3rem;
        
}
/*main-home::after{
    position: sticky;
    top: 20px;
    background-color: white;*/

.logo{
    margin: 5px;
    padding-left: 1rem;
    width: 120px;
    height: 90px;
}

.r-nav{
    position: relative;
    left: 15rem;
    top: 1rem;
    margin-top: 10px;
    
    border-radius: 8px;
    height: fit-content;
}
.list{
    display: flex;
    flex-direction: row;
}
.list>li{
    text-decoration: none;
    list-style: none;
    
}
.list>li>a{
    text-decoration: none;
padding: 0px 7px;
padding-right: 10px;
color: green;

}
